<ng-container *ngIf="matches">
  <div
    *ngIf="stats"
    class="container mt-8 mb-10 list-disc text-slate-700 bg-white rounded-md shadow-lg ring-1 ring-slate-900/5 p-4 pl-8 dark:bg-slate-800 dark:ring-0 dark:highlight-white/5 dark:text-slate-400 print:hidden"
  >
    <p class="flex gap-2 font-bold underline-offset-4 mb-2 text-blue-500">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"
        />
      </svg>

      {{ 'table.results' | translate }}
    </p>

    <ul class="list-disc list-inside pl-2">
      <p
        class="mb-3"
        [innerHTML]="
          'table.total-players'
            | translate: { totalPlayers: stats.totalPlayers }
        "
      ></p>

      <li>
        {{ 'table.will-play' | translate }}
        <span class="font-bold">
          {{ stats.matchesPerPlayer }}
          {{
            stats.matchesPerPlayer > 1
              ? ('table.matches' | translate)
              : ('match' | translate)
          }}</span
        >
        {{ 'table.in' | translate }}
        <span class="font-bold"
          >{{ stats.totalRounds }}
          {{
            stats.totalRounds > 1
              ? ('table.rounds' | translate)
              : ('table.round' | translate)
          }}</span
        >
      </li>

      <li>
        {{ 'table.each-round' | translate }}
        <span class="font-bold"
          >{{ 'table.have' | translate }} {{ stats.matchesPerRound }}
          {{
            stats.matchesPerRound > 1
              ? ('table.matches' | translate)
              : ('table.match' | translate)
          }}</span
        >
      </li>

      <li>
        {{
          'table.total-matches'
            | translate: { totalMatches: stats.totalMatches }
        }}
      </li>
    </ul>
  </div>

  <div id="matches" *ngIf="matches?.length" class="mt-5">
    <div
      class="flex w-full items-center content-between border-b border-spacing-3 mb-5"
    >
      <h1 class="text-2xl font-bold grow">
        {{ 'table.section-matches.title' | translate }}
      </h1>

      <div class="flex gap-2">
        <button
          id="export-pdf"
          type="button"
          (click)="exportPDF()"
          class="flex gap-1 print:hidden items-center h-min bg-transparent transition disabled:text-slate-500 disabled:ring-0 disabled:cursor-not-allowed disabled:border-slate-500 disabled:hover:bg-transparent active:ring hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 mb-2 border border-blue-500 hover:border-transparent rounded text-base"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z"
            />
          </svg>

          PDF
        </button>

        <button
          id="print"
          type="button"
          (click)="print()"
          class="flex gap-1 print:hidden items-center h-min bg-transparent transition disabled:text-slate-500 disabled:ring-0 disabled:cursor-not-allowed disabled:border-slate-500 disabled:hover:bg-transparent active:ring hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 mb-2 border border-blue-500 hover:border-transparent rounded text-base"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z"
            />
          </svg>

          {{ 'buttons.print' | translate }}
        </button>
      </div>
    </div>

    <div class="overflow-auto">
      <table class="table-auto w-full">
        <thead class="bg-slate-100 border-b border-slate-200">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-sm font-medium text-slate-900 text-right"
            >
              {{ 'table.section-matches.team-1' | translate }}
            </th>

            <th
              scope="col"
              class="px-6 py-3 text-center text-sm font-medium text-slate-900 w-0"
            >
              &nbsp;
            </th>

            <th class="px-6 py-3 text-left text-sm font-medium text-slate-900">
              {{ 'table.section-matches.team-2' | translate }}
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let round of rounds">
            <tr>
              <td
                colspan="3"
                class="text-center font-bold bg-slate-300 py-2 print:border-t"
              >
                {{ 'table.section-matches.round' | translate }}
                {{ round.round }}
              </td>
            </tr>

            <tr
              *ngFor="let match of round.matches"
              class="odd:bg-white even:bg-slate-50"
            >
              <td
                class="px-6 py-4 w-min whitespace-nowrap text-sm font-medium text-slate-900 text-right"
              >
                <span *ngFor="let team of match.team1; let last = last">
                  <span class="font-bold text-base">{{ team.name }}</span>
                  <span class="text-slate-500">&nbsp;({{ team.id }})</span>
                  <span *ngIf="!last"> / </span>
                </span>
              </td>

              <td
                class="px-6 py-4 w-min whitespace-nowrap text-sm text-center font-medium text-slate-900"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                  width="24"
                  height="24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </td>

              <td
                class="px-6 py-4 w-min whitespace-nowrap text-sm font-medium text-slate-900"
              >
                <span *ngFor="let team of match.team2; let last = last">
                  <span class="font-bold text-base">{{ team.name }}</span>
                  <span class="text-slate-500">&nbsp;({{ team.id }})</span>
                  <span *ngIf="!last"> / </span>
                </span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div
      id="credits"
      class="hidden print:block text-center mt-5 border-t-2 pt-3"
    >
      {{ 'table.created-using' | translate }} {{ websiteUrl }}
    </div>
  </div>
</ng-container>
