<header class="bg-white p-4 shadow print:shadow-none">
  <div class="container mx-auto">
    <div class="flex flex-row content-between w-full items-center">
      <h1 class="text-lg text-gray-500 font-bold grow">
        {{ 'header.productName' | translate }}
      </h1>

      <div class="print:hidden flex items-center gap-5">
        <div id="flags" class="flex gap-2">
          <span
            class="fi fi-br cursor-pointer hover:opacity-70"
            (click)="changeLanguage('pt-BR')"
          ></span>

          <span
            class="fi fi-us cursor-pointer hover:opacity-70"
            (click)="changeLanguage('en-US')"
          ></span>
        </div>

        <a
          class="github-button"
          href="https://github.com/tiagoboeing/championship-table"
          data-size="large"
          data-show-count="true"
          aria-label="Star tiagoboeing/championship-table on GitHub"
        >
          Star
        </a>
      </div>
    </div>
  </div>
</header>

<div
  class="container mt-6 print:hidden text-slate-700 bg-white rounded-md shadow-lg ring-1 ring-slate-900/5 p-4 pl-8 dark:bg-slate-800 dark:ring-0 dark:highlight-white/5 dark:text-slate-400"
>
  <p class="flex gap-2 font-bold underline underline-offset-4 mb-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z"
      />
    </svg>

    {{ 'limitations.title' | translate }}
  </p>

  <ul class="list-disc list-inside pl-2">
    <li [innerHTML]="'limitations.list-1' | translate"></li>
    <li [innerHTML]="'limitations.list-2' | translate"></li>
    <li [innerHTML]="'limitations.list-3' | translate"></li>
  </ul>
</div>

<div
  class="container mx-auto p-5 my-8 shadow-md bg-white rounded-md print:shadow-none print:pt-0 print:my-0"
>
  <router-outlet></router-outlet>
</div>

<footer class="bg-white shadow dark:bg-gray-900 my-4 mb-auto print:hidden">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
      {{ 'footer.developed-by' | translate }}
      <a
        href="https://github.com/tiagoboeing"
        target="_blank"
        class="font-bold"
      >
        @tiagoboeing
      </a>
    </span>
  </div>
</footer>
