<h1 class="text-2xl font-bold border-b pb-2 mb-5 print:hidden">
  {{ 'player.create-player' | translate }}
</h1>

<form [formGroup]="form" class="print:hidden">
  <div class="flex flex-row gap-3 flex-grow w-full items-end">
    <div class="grow">
      <label for="name" class="text-sm text-gray-500">
        {{ 'player.inputs.player-name.label' | translate }}
      </label>
      <input
        #name
        type="text"
        id="name"
        formControlName="name"
        [placeholder]="'player.inputs.player-name.placeholder' | translate"
        class="mt-1 block w-full transition rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      />
    </div>

    <button
      type="submit"
      (click)="create()"
      [disabled]="form.invalid"
      class="h-min bg-transparent transition disabled:text-slate-500 disabled:ring-0 disabled:cursor-not-allowed disabled:border-slate-500 disabled:hover:bg-transparent active:ring hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
    >
      {{ 'player.buttons.add' | translate }}
      <span class="hidden sm:inline-flex">
        {{ 'player.buttons.player' | translate }}
      </span>
    </button>
  </div>
</form>

<div id="players-list" class="mt-8 print:hidden">
  <ng-container *ngIf="players?.length; else empty">
    <div
      class="px-5 py-4 mb-4 border-b border-gray-100 flex content-between print:hidden"
    >
      <h2 class="font-semibold text-gray-800 grow">
        {{ 'player.list.title' | translate }}
      </h2>

      <div>
        {{ players.length }} {{ 'player.list.players-created' | translate }}
      </div>
    </div>

    <div class="overflow-auto">
      <table class="min-w-full print:hidden">
        <thead>
          <tr class="my-2 uppercase text-sm text-slate-500">
            <th
              scope="col"
              class="px-6 py-2 text-left font-medium w-0 bg-slate-100 rounded-l"
            >
              {{ 'player.list.id' | translate }}
            </th>

            <th
              scope="col"
              class="px-6 py-2 text-left font-medium bg-slate-100"
            >
              {{ 'player.list.name' | translate }}
            </th>

            <th
              scope="col"
              class="px-6 py-2 text-left font-medium w-0 bg-slate-100 rounded-r"
            ></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let player of players" class="border-b last:border-0">
            <ng-container *ngIf="players.length; else empty">
              <td
                class="px-6 py-3 w-min whitespace-nowrap text-sm font-medium text-slate-600"
              >
                {{ player.id }}
              </td>

              <td
                class="px-6 py-3 whitespace-nowrap text-sm text-slate-900 font-medium"
              >
                {{ player.name }}
              </td>

              <td class="px-6 py-3 whitespace-nowrap text-sm text-slate-600">
                <button
                  type="button"
                  (click)="remove(player.id)"
                  class="flex flex-row items-center gap-2 h-min bg-transparent disabled:hover:bg-transparent transition active:ring active:ring-red-500/30 hover:bg-red-500 text-red-500 font-semibold hover:text-white py-1 px-4 border border-red-500 hover:border-transparent rounded"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>

                  {{ 'player.buttons.remove' | translate }}
                </button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #empty>
    <div
      class="flex flex-col p-7 gap-3 print:hidden border-dashed cursor-pointer transition border-slate-300 border rounded-md hover:bg-slate-200 text-center items-center"
      (click)="name.focus()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
        />
      </svg>

      {{ 'player.list.empty' | translate }}
    </div>
  </ng-template>
</div>

<div id="generate-matches" class="mt-6">
  <button
    type="button"
    class="w-full h-min print:hidden mb-5 bg-transparent text-orange-500 transition disabled:text-slate-500 disabled:ring-0 disabled:cursor-not-allowed disabled:bg-transparent disabled:border-slate-500 disabled:hover:bg-transparent active:ring hover:bg-orange-500 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded flex flex-row items-center justify-center gap-2"
    *ngIf="players.length >= 2"
    (click)="randomizePlayers()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-4 h-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3"
      />
    </svg>

    {{ 'player.buttons.randomize' | translate }}
  </button>

  <button
    type="submit"
    (click)="table.create(players)"
    [disabled]="players.length < 4 || !playersLengthIsRight"
    class="w-full h-min print:hidden bg-blue-500 text-white transition disabled:text-slate-500 disabled:ring-0 disabled:cursor-not-allowed disabled:bg-slate-300 disabled:border-none active:ring hover:bg-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded flex flex-row items-center justify-center gap-2"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
      />
    </svg>

    {{ 'player.buttons.generate-matches' | translate }}
  </button>

  <div
    class="font-normal text-center w-full mt-4 text-sm text-slate-700"
    *ngIf="addMoreText; let text"
  >
    {{ text }}
  </div>

  <ng-container class="print:block">
    <app-table #table></app-table>
  </ng-container>
</div>
